export(compute.ev)
export(logit.pv)
export(normal.pv)
export(poisson.pv)
export(probit.pv)
export(qi.logit.gam)
export(qi.normal.gam)
export(qi.poisson.gam)
export(qi.probit.gam)
export(zelig2logit.gam)
export(zelig2normal.gam)
export(zelig2poisson.gam)
export(zelig2probit.gam)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
S3method(describe,logit.gam)
S3method(describe,normal.gam)
S3method(describe,poisson.gam)
S3method(describe,probit.gam)
S3method(model.frame,GamFormula)
S3method(param,logit.gam)
S3method(param,normal.gam)
S3method(param,poisson.gam)
S3method(param,probit.gam)
S3method(plot,sim.logit.gam)
S3method(plot,sim.normal.gam)
S3method(plot,sim.poisson.gam)
S3method(plot,sim.probit.gam)
S3method(qi,logit.gam)
S3method(qi,normal.gam)
S3method(qi,poisson.gam)
S3method(qi,probit.gam)
