export(describe.logit.gam)
export(describe.normal.gam)
export(describe.poisson.gam)
export(describe.probit.gam)
importFrom(Zelig, describe, param, qi)
S3method(model.frame, GamFormula)
export(param.logit.gam)
export(param.normal.gam)
export(param.poisson.gam)
export(param.probit.gam)
S3method(plot, sim.logit.gam)
S3method(plot, sim.normal.gam)
S3method(plot, sim.poisson.gam)
S3method(plot, sim.probit.gam)
export(qi.logit.gam)
export(qi.normal.gam)
export(qi.poisson.gam)
export(qi.probit.gam)
export(zelig2logit.gam)
export(zelig2normal.gam)
export(zelig2poisson.gam)
export(zelig2probit.gam)
